
/*---
Basic Message
@group			UIComponents/Message
@desc			Feedback messages used to inform the user of an event
@modifier		success			: Success
@modifier		info			: Info
@modifier		warning			: Warning
@modifier		error			: Error
@author			Michael Ord
@tags			module
---
<div class="msg msg--sm msg--{modifier|default}">
	This is best used for form validation, as an empty <code class="label">msg</code> container will auto hide is it's empty
</div>

<div class="msg msg--sm msg--{modifier|default} bordered">
	This is best used for form validation, as an empty <code class="label">msg</code> container will auto hide is it's empty
</div>
*/

/*---
Message
@group			UIComponents/Message
@desc			Feedback messages used to inform the user of an event
@modifier		success			: Success
@modifier		info			: Info
@modifier		warning			: Warning
@modifier		error			: Error
@todo			Dismiss animations
@author			Michael Ord
@tags			module
---
<div class="msg msg--{modifier|default}">
	<div class="container msg__container">
		<div class="msg__body">
			<div class="media media--top">
				<div class="media__figure">
					<i aria-hidden="true" class="icon icon--{modifier|default}"><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/media/icons.svg#{modifier|default}"></use></svg></i>
				</div>
				<div class="media__body">
					<p><b class="label">{modifier|default}</b> Lorem ipsum dolor sit amet. Minima explicabo quis rerum facere veritatis exercitationem quia quas quaerat impedit molestiae quidem laborum porro nam optio praesentium ipsam amet, quo error!</p>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="msg msg--{modifier|default} bordered">
	<div class="container msg__container">
		<div class="msg__body">
			<div class="media media--top">
				<div class="media__figure">
					<i aria-hidden="true" class="icon icon--{modifier|default}"><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/media/icons.svg#{modifier|default}"></use></svg></i>
				</div>
				<div class="media__body">
					<p><b class="label">{modifier|default}</b> Lorem ipsum dolor sit amet. Minima explicabo quis rerum facere veritatis exercitationem quia quas quaerat impedit molestiae quidem laborum porro nam optio praesentium ipsam amet, quo error!</p>
				</div>
			</div>
		</div>
	</div>
</div>
*/

/*---
Dismissable Message
@group			UIComponents/Message
@desc			Feedback messages used to inform the user of an event
@todo			Dismiss animations
@author			Michael Ord
@tags			module
---
<div class="msg" data-dismiss=".msg__container">
	<div class="container msg__container">
		<div class="msg__body">
			<div class="media media--top">
				<div class="media__figure">
					<i aria-hidden="true" class="icon icon--{modifier|default}"><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/media/icons.svg#{modifier|default}"></use></svg></i>
				</div>
				<div class="media__body">
					<p><b class="label">{modifier|default}</b> Lorem ipsum dolor sit amet. Minima explicabo quis rerum facere veritatis exercitationem quia quas quaerat impedit molestiae quidem laborum porro nam optio praesentium ipsam amet, quo error!</p>
				</div>
			</div>
		</DIV>
	</div>
</div>

<div class="msg bordered" data-dismiss=".msg__container">
	<div class="container msg__container">
		<div class="msg__body">
			<div class="media media--top">
				<div class="media__figure">
					<i aria-hidden="true" class="icon icon--{modifier|default}"><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/media/icons.svg#{modifier|default}"></use></svg></i>
				</div>
				<div class="media__body">
					<p><b class="label">{modifier|default}</b> Lorem ipsum dolor sit amet. Minima explicabo quis rerum facere veritatis exercitationem quia quas quaerat impedit molestiae quidem laborum porro nam optio praesentium ipsam amet, quo error!</p>
				</div>
			</div>
		</DIV>
	</div>
</div>
*/
.msg
{
	$parent						: &;

	padding						: .5rem;
	margin						: 0 0 1rem 0;
	background-color			: rgba(0, 0, 0, .1);
	position					: relative;
	text-align					: left;

	&__container
	{
		position				: relative;
	}

	&__body
	{
		> *
		{
			&:first-child
			{
				margin-top		: 0;
			}

			&:last-child
			{
				margin-bottom	: 0;
			}
		}
	}

	&[data-dismiss]
	{
		#{$parent}__container
		{
			padding-right		: 2rem;
		}
	}

	&:empty
	{
		display					: none;
	}

	&--sm
	{
		padding					: .5rem;
	}

	&--success
	{
		background-color		: $clr-success;
		border-color			: $clr-success;
		color					: #fff;
	}

	&--info
	{
		background-color		: $clr-info;
		border-color			: $clr-info;
		color					: #fff;
	}

	&--warning
	{
		background-color		: $clr-warning;
		border-color			: $clr-warning;
	}

	&--error
	{
		background-color		: $clr-error;
		border-color			: $clr-error;
		color					: #fff;
	}

	&.bordered
	{
		color					: initial;
		background-color		: transparent;
		border-style			: solid;
		border-width			: 1px;
		border-left-width		: 5px;
		border-top-color		: #eee;
		border-right-color		: #eee;
		border-bottom-color		: #eee;
	}
}
