
<div class="msg msg--{{this.type}}">
	<div class="container msg__container">
		<div class="media">
			<div class="media__figure">
				{{icon 'cog'}}
			</div>
			<div class="media__body">
				{{#if this.content}}
				{{this.content}}
				{{else}}
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima explicabo quis rerum facere veritatis exercitationem quia quas quaerat impedit molestiae quidem laborum porro nam optio praesentium ipsam amet, quo error!</p>
				{{/if}}
			</div>
		</div>
	</div>
</div>
